<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
   <meta charset="utf-8">
   <title>菜鸟教程(runoob.com)</title>
    
      <script type="text/javascript">

           window.onload = function() {
               var cid = document.getElementById("method1").value;
               console.log("cid="+cid)
               WebSocketTest(cid);
           }
         function WebSocketTest(cid)
         {
            if ("WebSocket" in window)
            {
               alert("您的浏览器支持 WebSocket!");
               
               // 打开一个 web socket
               var ws = new WebSocket("ws://127.0.0.1:8080/websocket/"+cid);
               console.log(ws)
               ws.onopen = function()
               {
                  // Web Socket 已连接上，使用 send() 方法发送数据
                  ws.send("发送数据");
                  alert("数据发送中...");
               };
                
               ws.onmessage = function (evt) 
               { 
                  var received_msg = evt.data;
                  document.getElementById("demo").innerHTML = received_msg;
                
               };
                
               ws.onclose = function()
               { 
                  // 关闭 websocket
                  alert("连接已关闭..."); 
               };
            }
            
            else
            {
               // 浏览器不支持 WebSocket
               alert("您的浏览器不支持 WebSocket!");
            }
         }
      </script>
        
   </head>
   <body>
   
      <div id="sse">
         <!-- <a href="javascript:WebSocketTest()">运行 WebSocket</a> -->
		 <br/>
		 <p id="demo"></p>
         <input type="hidden" th:value="${clientId}" id="method1">
      </div>
      
   </body>
</html>
